<div class="row expanded align-center">
    <h1>Register an Account</h1>
</div>

<div class="row align-center">
    <form>
        <div class="small-12 columns">
            <label>Username
                <input type="text" placeholder="Enter Email Address" id="email" [(ngModel)]="email" name="email" required #em="ngModel">
                <div [hidden]="em.valid || em.pristine" class="alert callout">Email is required</div>
            </label>
        </div>
        <div class="small-12 columns">
            <label>Password
                <input type="password" placeholder="Enter password" id="password1" [(ngModel)]="password1" name="password1" required #pwd1="ngModel">
                <div [hidden]="pwd1.valid || pwd1.pristine" class="alert callout">Password is required</div>
            </label>
        </div>
        <div class="small-12 columns">
            <label>Confirm Password
                <input type="password" placeholder="Confirm Password" id="password2" [(ngModel)]="password2" name="password2" required #pwd2="ngModel">
                <div [hidden]="pwd2.valid || pwd2.pristine" class="alert callout">Password is required</div>
            </label>
        </div>

        <div class="alert callout" *ngIf="passwordFail">Passwords do not Match</div>

        <div class="small-12 columns">
            <div class="small-12 columns">
                <div class="expanded button-group">
                    <a (click)="signUp()" class="success button">Sign Up</a>
                    <a (click)="cancel()" class="cancel button">Cancel</a>
                </div>
            </div>
        </div>
    </form>
</div>